p {
  font-family: Lato;
}
.ag-theme-alpine {
  --ag-checkbox-background-color: white;
  --ag-checkbox-checked-color: blue;
  --ag-checkbox-unchecked-color: white;
  --ag-checkbox-indeterminate-color: white;
}
